@import "../../../style/abstract/media-queries";
@import "../../../style/abstract/mixins";
@import "../../../style/abstract/variaveis";


.salvar, .atualizar, .excluir {
  border: none;
  padding: 1rem;
  font-size: 1.5rem;
  color: $cor-branco;
  font-weight: 700;
  border-radius: 1rem;
}

.salvar {
  background-color: $cor-salvar;

  &:hover {
    background-color: $cor-salvar-hover;
  }
}

.atualizar {
  background-color: $cor-atualizar;

  &:hover {
    background-color: $cor-atualizar-hover;
  }
}

.excluir {
  background-color: $cor-excluir;

  &:hover {
    background-color: $cor-excluir-hover;
  }
}

