

<header class="container header">
  <div class="container__menu">
    <img src="/assets/logo.png" alt="logo" class="container__menu__logo"/>
    <section *ngIf="!usuarioLogado; else logado">
      <div class="container__menu__botoes">
        <app-botao-principal
          [color]="verde"
          [backgroundColor]="transparente"
          [hoverColor]="branco"
          [hoverBackgroundColor]="verde"
          [fontSize]="font_size"
          [borda]="borda"
          (onClick)="abrirModalLogin()"
        >
          FAZER LOGIN
        </app-botao-principal>

        <app-modal-login-usuario
          [aberta]="modalLoginUsuario"
          (aoFechar)="fecharModalLogin()"
          (aoEfetuarLogin)="aoEfetuarLogin()"
        ></app-modal-login-usuario>

        <app-botao-principal
          [color]="branco"
          [backgroundColor]="verde"
          [hoverColor]="verde"
          [hoverBackgroundColor]="preto"
          [fontSize]="font_size"
          [borda]="borda"
          (onClick)="abrirModalCadastro()"
        >
          FAZER CADASTRO
        </app-botao-principal>

        <app-modal-cadastro-usuario
          [aberta]="modalCadastroUsuario"
          (aoFechar)="fecharModalCadastro()"
        ></app-modal-cadastro-usuario>
      </div>
    </section>
    <ng-template #logado>
      <div class="container__menu__logado">
        <img src="../../../assets/circle-user-round.svg" alt="login" class="container__menu__logado__img_login" />
        <span class="container__menu__logado__login">Olá, {{ usuario }}</span>
        <button (click)="aoEfetuarLogout()" class="botao botao-secundario">Sair</button>
      </div>
    </ng-template>
  </div>
</header>
