


<main class="container">
  <div
    class="container__main"
  >
    <div class="container__main__banner">
      <h1>EXPERIMENTE MAIS LIBERDADE NO CONTROLE DA SUA EMPRESA.</h1>
      <img
        src="/assets/img/imagem_inicial.png"
        alt="imagem_inicial"
      />
    </div>
    <div class="container__main__banner">
      <img
        src="/assets/img/imagem_inicial2.png"
        alt="imagem_inicial2"
      />
      <h1>DOMINE SEU ESTOQUE. SIMPLIFIQUE COM NOSSA PLATAFORMA.</h1>
    </div>
    <p class="container__main__vantagem">VANTAGENS DO NOSSO SISTEMA:</p>
    <div
      class="container__main__vantagens"
    >
      <div>
        <img
          src="/assets/img/carrinho.svg"
          alt="produto"
        />
        <p class="container__main__vantagens__descricao">
          Sistema de cadastro de produtos
        </p>
      </div>
      <div>
        <img
          src="/assets/img/truck.svg"
          alt="fornecedor"
        />
        <p class="container__main__vantagens__descricao">
          Sistema de cadastro de fornecedores
        </p>
      </div>
      <div>
        <img
          src="/assets/img/users-round.svg"
          alt="cliente"
        />
        <p class="container__main__vantagens__descricao">
          Sistema de cadastro de clientes
        </p>
      </div>
      <div>
        <img
          src="/assets/img/caixa.svg"
          alt="estoque"
        />
        <p class="container__main__vantagens__descricao">
          Sistema de controle de caixa
        </p>
      </div>
      <div>
        <img
          src="/assets/img/sifrao.svg"
          alt="vendas"
        />
        <p class="container__main__vantagens__descricao">
          Sistema de controle de vendas
        </p>
      </div>
      <div>
        <img
          src="/assets/img/cesta.svg"
          alt="compras"
        />
        <p class="container__main__vantagens__descricao">
          Sistema de controle de compras
        </p>
      </div>
    </div>
  </div>
</main>
