@import "../../../style/abstract/media-queries";
@import "../../../style/abstract/mixins";
@import "../../../style/abstract/variaveis";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  h1 {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 2rem;
  }

  form {
    background-color: $cor-prata-claro;
    border-radius: 1rem;
    padding: 1rem;
  }

  &__fornecedor,
  &__endereco,
  &__contato {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  label {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 0.3rem;
    padding-left: 0.3rem;
    display: block;
  }

  &__botoes {
    display: flex;
    gap: 2rem;
    margin: 1rem 0;
    align-items: center;
    justify-content: flex-end;
  }
}

.fornecedor, .container__endereco__complemento {
  width: 100%;
}

.container__endereco__logradouro {
  width: 80%;
}

.container__fornecedor__nome_fantasia {
  width: 80%;
}

.container__contato__telefone, .container__contato__celular, .container__contato__email1, .container__contato__email2 {
  width: 50%;
}

.container__endereco__bairro, .container__endereco__cidade, .container__endereco__cep {
  width: 30%;
}

.container__endereco__uf {
  width: 10%;
}

.container__endereco__numero, .container__fornecedor__cnpj {
  width: 20%;
}

.input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  border: 3px solid $cor-cinza-escuro;
  height: 45px;
}

.ng-touched.ng-invalid:not(form) {
  border: 3px solid red;
}

input.input::-webkit-inner-spin-button,
input.input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type="number"].input {
  -moz-appearance: textfield;
}

