



<section class="container">
  <h1>CADASTRO DE NOTA FISCAL</h1>
  <form action="" class="" #form="ngForm">
    <div class="container__dados">
      <div class="container__dados__nota_fiscal">
        <label class="block" for="produto">NÚMERO DA NOTA FISCAL:</label>
        <input
          class="input"
          type="text"
          name="produto"
          ngModel
          required
          minlength="3"
          #produto="ngModel"
        />
        <div *ngIf="(produto?.invalid && produto?.touched) || produto?.dirty">
          <app-mensagem-erro-validacao *ngIf="produto?.errors?.['required']">
            O nome do produto precisa ser cadastrado!
          </app-mensagem-erro-validacao>
          <app-mensagem-erro-validacao *ngIf="produto?.errors?.['minlength']">
            O nome do produto precisa ter pelo menos 3 caracteres!
          </app-mensagem-erro-validacao>
        </div>
      </div>
      <div class="container__dados__chave_acesso">
        <label class="block" for="chave_acesso">CHAVE DE ACESSO:</label>
        <input
          class="input"
          type="text"
          name="chave_acesso"
          ngModel
          #chave_acesso="ngModel"
          required
          pattern="^\d{7,13}$"
        />
        <div
          *ngIf="
            (chave_acesso?.invalid && chave_acesso?.touched) || chave_acesso?.dirty
          "
        >
          <app-mensagem-erro-validacao *ngIf="chave_acesso?.errors?.['required']">
            A chave de acesso precisa ser cadastrado!
          </app-mensagem-erro-validacao>

          <app-mensagem-erro-validacao *ngIf="chave_acesso?.errors?.['pattern']">
            A chave de acesso precisa ser em números e ter de 7 a 13
            caracteres!
          </app-mensagem-erro-validacao>
        </div>
      </div>
    </div>
    <div class="container__dados">
      <div class="container__dados__serie">
        <label class="block" for="serie">SÉRIE:</label>
        <input
          class="input"
          type="text"
          name="serie"
          ngModel
          required
          minlength="3"
          #serie="ngModel"
        />
        <div
          *ngIf="
            (serie?.invalid && serie?.touched) || serie?.dirty
          "
        >
          <app-mensagem-erro-validacao *ngIf="serie?.errors?.['required']">
            O nome do serie precisa ser cadastrado!
          </app-mensagem-erro-validacao>
          <app-mensagem-erro-validacao
            *ngIf="serie?.errors?.['minlength']"
          >
            O nome do serie precisa ter pelo menos 3 caracteres!
          </app-mensagem-erro-validacao>
        </div>
      </div>
      <div class="container__dados__data_emissao">
        <label class="block" for="data_emissao">DATA DE EMISSÃO:</label>
        <input
          class="input"
          type="text"
          name="data_emissao"
          ngModel
          minlength="1"
          #data_emissao="ngModel"
          pattern="^[A-Za-z]+$"
        />
        <div
          *ngIf="(data_emissao?.invalid && data_emissao?.touched) || data_emissao?.dirty"
        >
          <app-mensagem-erro-validacao *ngIf="data_emissao?.errors?.['minlength']">
            O data_emissao precisa ter pelo menos 1 caracteres!
          </app-mensagem-erro-validacao>
          <app-mensagem-erro-validacao *ngIf="data_emissao?.errors?.['pattern']">
            O data_emissao precisa ser apenas caracteres!
          </app-mensagem-erro-validacao>
        </div>
      </div>
      <div class="container__dados__data_recebimento">
        <label class="block" for="data_recebimento">DATA DE RECEBIMENTO:</label>
        <input
          class="input"
          type="text"
          name="data_recebimento"
          ngModel
          minlength="1"
          #data_recebimento="ngModel"
          pattern="^[A-Za-z]+$"
        />
        <div
          *ngIf="(data_recebimento?.invalid && data_recebimento?.touched) || data_recebimento?.dirty"
        >
          <app-mensagem-erro-validacao *ngIf="data_recebimento?.errors?.['minlength']">
            O data_recebimento precisa ter pelo menos 1 caracteres!
          </app-mensagem-erro-validacao>
          <app-mensagem-erro-validacao *ngIf="data_recebimento?.errors?.['pattern']">
            O data_recebimento precisa ser apenas caracteres!
          </app-mensagem-erro-validacao>
        </div>
      </div>
    </div>

    <div class="container__dados">
      <div class="container__dados__fornecedor">
        <label class="block" for="fornecedor">FORNECEDOR:</label>
        <input
          class="input"
          type="text"
          name="fornecedor"
          ngModel
          required
          #fornecedor="ngModel"
          pattern="^\d{1,9}$"
          maxlength="9"
        />
        <div
          *ngIf="
            (fornecedor?.invalid && fornecedor?.touched) || fornecedor?.dirty
          "
        >
          <app-mensagem-erro-validacao *ngIf="fornecedor?.errors?.['required']">
            A quantidade mínima precisa ser cadastrado !
          </app-mensagem-erro-validacao>

          <app-mensagem-erro-validacao *ngIf="fornecedor?.errors?.['pattern']">
            A quantidade mínima precisa ser númerico !
          </app-mensagem-erro-validacao>
        </div>
      </div>
    </div>
    <div class="container__dados">
      <div class="container__dados__custo_compra">
        <label class="block" for="custo_compra">CUSTO DE COMPRA:</label>
        <input
          class="input"
          type="text"
          name="custo_compra"
          ngModel
          required
          #custo_compra="ngModel"
          pattern="^\d{1,3}(?:\.\d{3})*(,\d{2})$"
        />
        <div
          *ngIf="
            (custo_compra?.invalid && custo_compra?.touched) ||
            custo_compra?.dirty
          "
        >
          <app-mensagem-erro-validacao
            *ngIf="custo_compra?.errors?.['required']"
          >
            O custo de compra precisa ser cadastrado !
          </app-mensagem-erro-validacao>

          <app-mensagem-erro-validacao
            *ngIf="custo_compra?.errors?.['pattern']"
          >
            O custo de compra precisa ser númerico e seguir o exemplo: 1.525,00
            !
          </app-mensagem-erro-validacao>
        </div>
      </div>
      <div class="container__dados__custo_venda">
        <label class="block" for="custo_venda">CUSTO DE VENDA:</label>
        <input
          class="input"
          type="text"
          name="custo_venda"
          ngModel
          required
          #custo_venda="ngModel"
          pattern="^\d{1,3}(?:\.\d{3})*(,\d{2})?$"
        />
        <div
          *ngIf="
            (custo_venda?.invalid && custo_venda?.touched) || custo_venda?.dirty
          "
        >
          <app-mensagem-erro-validacao
            *ngIf="custo_venda?.errors?.['required']"
          >
            O custo de venda precisa ser cadastrado !
          </app-mensagem-erro-validacao>

          <app-mensagem-erro-validacao *ngIf="custo_venda?.errors?.['pattern']">
            O custo de venda precisa ser númerico e seguir o exemplo: 1.525,00 !
          </app-mensagem-erro-validacao>
        </div>
      </div>
      <div class="container__dados__categoria">
        <label class="block" for="categoria">CATEGORIA:</label>
        <input
          class="input"
          type="text"
          name="categoria"
          ngModel
          required
          #categoria="ngModel"
        />
        <div
          *ngIf="
            (categoria?.invalid && categoria?.touched) || categoria?.dirty
          "
        >
          <app-mensagem-erro-validacao
            *ngIf="categoria?.errors?.['required']"
          >
            O custo de venda precisa ser cadastrado !
          </app-mensagem-erro-validacao>
        </div>
      </div>
    </div>
    <div class="container__dados">
      <div class="descricao">
        <label class="block" for="descricao">DESCRIÇÃO DO PRODUTO:</label>
        <textarea
          class="textarea"
          name="descricao"
          id="descricao"
          ngModel
          required
          #textarea="ngModel"
          minlength="10"
          maxlength="500"
        ></textarea>
        <div
          *ngIf="(textarea?.invalid && textarea?.touched) || textarea?.dirty"
        >
          <app-mensagem-erro-validacao *ngIf="textarea?.errors?.['required']">
            Deve ser cadastrado uma descrição básica para o produto !
          </app-mensagem-erro-validacao>

          <app-mensagem-erro-validacao
            *ngIf="textarea?.errors?.['minlength'] || textarea?.errors?.['maxlength']"
          >
            A descrição do produto precisa ter um mínimo de 10 e máximo de 500
            caracteres !
          </app-mensagem-erro-validacao>
        </div>
      </div>
    </div>

    <div class="container__botoes">
      <app-botao-principal
        [color]="texto"
        [backgroundColor]="salvar"
        [hoverBackgroundColor]="salvar_hover"
        >SALVAR</app-botao-principal
      >
      <app-botao-principal
        [color]="texto"
        [backgroundColor]="atualizar"
        [hoverBackgroundColor]="atualizar_hover"
        >ATUALIZAR</app-botao-principal
      >
      <app-botao-principal
        [color]="texto"
        [backgroundColor]="excluir"
        [hoverBackgroundColor]="excluir_hover"
        >EXCLUIR</app-botao-principal
      >
    </div>
  </form>
</section>

