

@import "../../../../style/abstract/media-queries";
@import "../../../../style/abstract/mixins";
@import "../../../../style/abstract/variaveis";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0.5rem;

  h1 {
    font-size: 1.4rem;
    font-weight: 900;
    margin-bottom: 2rem;
  }

  form {
    background-color: $cor-prata-claro;
    border-radius: 1rem;
    padding: 1rem;
  }

  &__dados {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;

    &__nota_fiscal,
    &__chave_acesso {
      @include width(50%)
    }

    &__serie {
      @include width(20%)
    }

    &__data_emissao,
    &__data_recebimento {
      @include width(40%)
    }

    &__fornecedor {
      @include width(100%)
    }

    &__cnpj,
    &__inscricao_estadual {
      @include width(20%)
    }

  }

  label {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 0.3rem;
  }

  &__botoes {
    display: flex;
    gap: 2rem;
    margin: 1rem 0;
    align-items: center;
    justify-content: flex-end;
  }
}



.container__dados__nome,
.container__dados__nome {
  width: 80%;
}

.container__produto__cdg_barras,
.container__dados__sku {
  width: 20%;
}

.container__dados__qtd_minima,
.container__dados__quantidade,
.container__dados__und_medida,
.container__dados__custo_compra,
.container__dados__custo_venda,
.container__dados__categoria {
  width: 33%;
}

.block {
  display: block;
}

.input,
.textarea {
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  border: 3px solid $cor-cinza-escuro;
  height: 45px;
  font-size: 1.1rem;
}

.descricao {
  width: 100%;
}

.textarea {
  height: 150px;
}

.ng-touched.ng-invalid:not(form) {
  border: 3px solid red;
}

input.input::-webkit-inner-spin-button,
input.input::-webkit-outer-spin-button,
textarea.textarea::-webkit-inner-spin-button,
textarea.textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type="number"].input {
  -moz-appearance: textfield;
}
