<nav class="container">
  <ul>
    <li class="container__navegacao__lista">
      <a  class="container__navegacao__lista__link" routerLink="/produtos" routerLinkActive="ativo">PRODUTOS</a>
      <a  class="container__navegacao__lista__link" routerLink="/cliente" routerLinkActive="ativo">CLIENTE</a>
      <a  class="container__navegacao__lista__link" routerLink="/fornecedor" routerLinkActive="ativo">FORNECEDOR</a>
      <a  class="container__navegacao__lista__link" routerLink="/vendas" routerLinkActive="ativo">VENDAS</a>
      <a  class="container__navegacao__lista__link" routerLink="/caixa" routerLinkActive="ativo">CAIXA</a>
      <a  class="container__navegacao__lista__link" routerLink="/compras" routerLinkActive="ativo">COMPRAS</a>
      <a  class="container__navegacao__lista__link" routerLink="/administracao" routerLinkActive="ativo">ADMINISTRAÇÃO</a>
    </li>
  </ul>
</nav>
