<nav class="container">
  <ul>
    <li class="container__navegacao__lista">
      <a  class="container__navegacao__lista__link" routerLink="/produtos">PRODUTOS</a>
      <a  class="container__navegacao__lista__link" routerLink="/cliente">CLIENTE</a>
      <a  class="container__navegacao__lista__link" routerLink="/fornecedor">FORNECEDOR</a>
      <a  class="container__navegacao__lista__link" routerLink="/vendas">VENDAS</a>
      <a  class="container__navegacao__lista__link" routerLink="/caixa">CAIXA</a>
      <a  class="container__navegacao__lista__link" routerLink="/compras">COMPRAS</a>
      <a  class="container__navegacao__lista__link" routerLink="/administracao">ADMINISTRAÇÃO</a>
    </li>
  </ul>
</nav>
