@import "../../../style/abstract/media-queries";
@import "../../../style/abstract/mixins";
@import "../../../style/abstract/variaveis";

.container {
  width: 100%;

  &__botao {
    margin-top: 1rem;
  }

  h1 {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
  }

  &__botao {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  &__vendas {
    background-color: $cor-prata-claro;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;

    &__descricao_estoque,
    &__descricao_quantidade,
    &__descricao_produto,
    &__descricao_preco {
      display: flex;
      flex-direction: column;

      label {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 0.3rem;
      }

      input {
        box-sizing: border-box;
        border: none;
        height: 40px;
        font-size: 1.2rem;
        padding-left: 0.3rem;
        background-color: #fff;
      }

      &__input_estoque {
        width: 20%;
      }
    }

    &__descricao_estoque,
    &__descricao_quantidade {
      width: 8%;
    }

    &__descricao_produto {
      width: 70%;

      &__error_mensagem {
        color: red;
        margin-top: 0.8rem;
        font-size: 1.2rem;
      }
    }

    &__descricao_preco {
      width: 14%;
    }
  }

  &__lista {
    display: flex;
    flex-direction: row;
    width: 100%;

    &__compras {
      width: 80%;
      height: 50vh;
      display: flex;
      justify-items: center;
      align-items: end;
    }

    &__valor_compras {
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;

      h3,
      p {
        margin-bottom: 1rem;
        font-weight: 900;
      }

      h3 {
        font-size: 1.2rem;
      }

      p {
        font-size: 3rem;
      }
    }
  }
}
