

<section class="container">
  <div>
    <h1>CONTROLE DE VENDAS</h1>
    <div class="container__botao">
      <app-botao-principal
        [color]="texto"
        [backgroundColor]="botao_listar"
        [hoverBackgroundColor]="botao_listar_hover"
        (click)="adicionarProduto()"
      >LISTAR VENDAS</app-botao-principal>
      <app-botao-principal
        [color]="texto"
        [backgroundColor]="botao_listar"
        [hoverBackgroundColor]="botao_listar_hover"
        (click)="adicionarProduto()"
      >EFETUAR VENDAS</app-botao-principal>
    </div>
    <div class="container__vendas">
      <div class="container__vendas__descricao_estoque">
        <label for="estoque">ESTOQUE</label>
        <input type="text" placeholder="Estoque" [(ngModel)]="estoque" readonly/>
      </div>
      <div class="container__vendas__descricao_quantidade">
        <label for="quantidade">QUANTIDADE</label>
        <input type="number" placeholder="Quantidade" [(ngModel)]="quantidade" (ngModelChange)="setQuantidade($event)" />
      </div>
      <div class="container__vendas__descricao_produto">
        <app-pesquisar-produto [produtoSelecionado]="produtoSelecionado" (produtoSelecionadoEmit)="onProdutoSelecionado($event)"></app-pesquisar-produto>
        <div *ngIf="quantidadeMaior" class="container__vendas__descricao_produto__error_mensagem">
          <p>A quantidade não pode ser 0 ou maior que o estoque.</p>
        </div>
      </div>
      <div class="container__vendas__descricao_preco">
        <label for="preco">PREÇO</label>
        <input type="text" placeholder="Valor do produto" [(ngModel)]="precoFormatado" />
      </div>
    </div>
  </div>
  <div class="container__botao">
    <app-botao-principal
        [color]="texto"
        [backgroundColor]="salvar"
        [hoverBackgroundColor]="salvar_hover"
        (click)="adicionarProduto()"
      >ADICIONAR O PRODUTO</app-botao-principal>
  </div>

  <div class="container__lista">
    <div class="container__lista__compras">
      <app-lista-vendas-produtos (valorTotalCompraEmit)="atualizarTotalCompra($event)" [produto]="produto" [quantidadeDoItem]="quantidadeDoItem"></app-lista-vendas-produtos>
    </div>
    <div class="container__lista__valor_compras">
      <h3>VALOR TOTAL DAS COMPRAS</h3>
      <p>R$ {{ totalCompra | number: "1.2-2" }}</p>
      <app-botao-principal
        [color]="texto"
        [backgroundColor]="salvar"
        [hoverBackgroundColor]="salvar_hover"
        (click)="adicionarProduto()"
      >FINALIZAR VENDA</app-botao-principal>
    </div>
  </div>
</section>
