<section class="container">
  <h1>CADASTRO DE CLIENTES</h1>
  <form action="" class="">
    <div class="container__cliente">
      <div class="cliente">
        <label class="block" for="">NOME DO CLIENTE:</label>
        <input class="input" type="text" name="cliente" />
      </div>
    </div>
    <div class="container__cpf">
      <div class="cpf">
        <label class="block" for="cpf">CPF:</label>
        <input class="input" type="text" name="cpf" />
      </div>
      <div class="rg">
        <label class="block" for="rg">RG:</label>
        <input class="input" type="text" name="rg" />
      </div>
    </div>
    <div class="container__endereco">
      <div class="endereco">
        <label class="block" for="endereco">ENDEREÇO:</label>
        <input class="input" type="text" name="endereco" />
      </div>
      <div class="numero">
        <label class="block" for="numero">NÚMERO:</label>
        <input class="input" type="text" name="numero" />
      </div>
    </div>
    <div class="container__complemento">
      <div class="complemento">
        <label class="block" for="complemento">COMPLEMENTO:</label>
        <input class="input" type="text" name="complemento" />
      </div>
    </div>
    <div class="container__bairro">
      <div class="bairro">
        <label class="block" for="bairro">BAIRRO:</label>
        <input class="input" type="text" name="bairro" />
      </div>
      <div class="cidade">
        <label class="block" for="cidade">CIDADE:</label>
        <input class="input" type="text" name="cidade" />
      </div>
      <div class="cep">
        <label class="block" for="cep">CEP:</label>
        <input class="input" type="text" name="cep" />
      </div>
    </div>
    <div class="container__telefone">
      <div class="telefone">
        <label class="block" for="telefone">TELEFONE:</label>
        <input class="input" type="text" name="telefone" />
      </div>
      <div class="celular">
        <label class="block" for="celular">CELULAR:</label>
        <input class="input" type="text" name="celular" />
      </div>
    </div>
    <div class="container__email">
      <div class="email1">
        <label class="block" for="email1">EMAIL 1:</label>
        <input class="input" type="text" name="email1" />
      </div>
      <div class="email2">
        <label class="block" for="email2">EMAIL 2:</label>
        <input class="input" type="text" name="email2" />
      </div>
    </div>


    <div class="container__botoes">
      <app-botao-salvar [tipo]="salvar"> SALVAR </app-botao-salvar>
      <app-botao-salvar [tipo]="atualizar"> ATUALIZAR </app-botao-salvar>
      <app-botao-salvar [tipo]="excluir"> EXCLUIR </app-botao-salvar>
    </div>
  </form>
</section>

