//Variaveis
//Cores


$cor-branco: #ecf0f1;
$cor-prata-claro: #d0d3d4;
$cor-cinza-claro: #eaecee;
$cor-cinza-escuro: #909090;
$cor-azul-quase-preto: #212f3d;
$cor-azul-profundo: #1c2833;
$cor-azul-meia-noite: #17202a;
$cor-azul-meia-noite_hover: #0c1116;
$cor-azul-petroleo: #2c3e50;
$cor-salvar: #47a138;
$cor-salvar-hover: #267c17;
$cor-atualizar: #3498db;
$cor-atualizar-hover: #1b689c;
$cor-excluir: #ff0000;
$cor-excluir-hover: #da0000;
