<section class="container">
  <h1>CADASTRO DE PRODUTOS</h1>
  <form action="" class="" #form="ngForm" (ngSubmit)="cadastrar(form)">
    <div class="container__produto">
      <div class="container__produto__nome">
        <label class="block" for="produto">PRODUTO:</label>
        <input
          class="input"
          type="text"
          name="produto"
          ngModel
          required
          minlength="3"
          #produto="ngModel"
        />
        <div *ngIf="(produto?.invalid && produto?.touched) || produto?.dirty">
          <app-mensagem-erro-validacao *ngIf="produto?.errors?.['required']">
            O nome do produto precisa ser cadastrado!
          </app-mensagem-erro-validacao>
          <app-mensagem-erro-validacao *ngIf="produto?.errors?.['minlength']">
            O nome do produto precisa ter pelo menos 3 caracteres!
          </app-mensagem-erro-validacao>
        </div>
      </div>
      <div class="container__produto__cdg_barras">
        <label class="block" for="cdg_barras">CODIGO DE BARRAS:</label>
        <input
          class="input"
          type="text"
          name="cdg_barras"
          ngModel
          #cdg_barras="ngModel"
          required
          pattern="^\d{7,13}$"
        />
        <div
          *ngIf="
            (cdg_barras?.invalid && cdg_barras?.touched) || cdg_barras?.dirty
          "
        >
          <app-mensagem-erro-validacao *ngIf="cdg_barras?.errors?.['required']">
            O código de barras precisa ser cadastrado!
          </app-mensagem-erro-validacao>

          <app-mensagem-erro-validacao *ngIf="cdg_barras?.errors?.['pattern']">
            O código de barras precisa ser em números e ter de 7 a 13
            caracteres!
          </app-mensagem-erro-validacao>
        </div>
      </div>
    </div>
    <div class="container__fornecedor">
      <div class="container__fornecedor__nome">
        <label class="block" for="fornecedor">FORNECEDOR:</label>
        <input
          class="input"
          type="text"
          name="fornecedor"
          ngModel
          required
          minlength="3"
          #fornecedor="ngModel"
        />
        <div
          *ngIf="
            (fornecedor?.invalid && fornecedor?.touched) || fornecedor?.dirty
          "
        >
          <app-mensagem-erro-validacao *ngIf="fornecedor?.errors?.['required']">
            O nome do fornecedor precisa ser cadastrado!
          </app-mensagem-erro-validacao>
          <app-mensagem-erro-validacao
            *ngIf="fornecedor?.errors?.['minlength']"
          >
            O nome do fornecedor precisa ter pelo menos 3 caracteres!
          </app-mensagem-erro-validacao>
        </div>
      </div>
      <div class="container__fornecedor__und_medida">
        <label class="block" for="und_medida">UN. DE MEDIDA:</label>
        <input
          class="input"
          type="text"
          name="und_medida"
          ngModel
          required
          minlength="1"
          #un_medida="ngModel"
          pattern="^[A-Za-z]+$"
        />
        <div
          *ngIf="(un_medida?.invalid && un_medida?.touched) || un_medida?.dirty"
        >
          <app-mensagem-erro-validacao *ngIf="un_medida?.errors?.['required']">
            A unidade de medida precisa ser cadastrado!
          </app-mensagem-erro-validacao>
          <app-mensagem-erro-validacao *ngIf="un_medida?.errors?.['minlength']">
            A unidade de medida precisa ter pelo menos 1 caracteres!
          </app-mensagem-erro-validacao>
          <app-mensagem-erro-validacao *ngIf="un_medida?.errors?.['pattern']">
            A unidade de medida precisa ser apenas caracteres!
          </app-mensagem-erro-validacao>
        </div>
      </div>
    </div>
    <div class="container__quantidade">
      <div class="container__quantidade__qtd_minima">
        <label class="block" for="qtd_minima">QUANTIDADE MÍNIMA:</label>
        <input
          class="input"
          type="text"
          name="qtd_minima"
          ngModel
          required
          #qtd_minima="ngModel"
          pattern="^\d{1,9}$"
          maxlength="9"
        />
        <div
          *ngIf="
            (qtd_minima?.invalid && qtd_minima?.touched) || qtd_minima?.dirty
          "
        >
          <app-mensagem-erro-validacao *ngIf="qtd_minima?.errors?.['required']">
            A quantidade mínima precisa ser cadastrado !
          </app-mensagem-erro-validacao>

          <app-mensagem-erro-validacao *ngIf="qtd_minima?.errors?.['pattern']">
            A quantidade mínima precisa ser númerico !
          </app-mensagem-erro-validacao>
        </div>
      </div>
      <div class="container__quantidade__quantidade">
        <label class="block" for="quantidade">QUANTIDADE:</label>
        <input
          class="input"
          type="text"
          name="quantidade"
          ngModel
          required
          #quantidade="ngModel"
          maxlength="9"
          pattern="^\d{1,9}$"
        />
        <div
          *ngIf="
            (quantidade?.invalid && quantidade?.touched) || quantidade?.dirty
          "
        >
          <app-mensagem-erro-validacao *ngIf="quantidade?.errors?.['required']">
            A quantidade precisa ser cadastrado !
          </app-mensagem-erro-validacao>

          <app-mensagem-erro-validacao *ngIf="quantidade?.errors?.['pattern']">
            A quantidade precisa ser númerico !
          </app-mensagem-erro-validacao>
        </div>
      </div>
      <div class="container__quantidade__peso">
        <label class="block" for="peso">PESO:</label>
        <input
          class="input"
          type="text"
          name="peso"
          ngModel
          required
          #peso="ngModel"
          maxlength="9"
          pattern="^\d{1,9}$"
        />
        <div *ngIf="(peso?.invalid && peso?.touched) || peso?.dirty">
          <app-mensagem-erro-validacao *ngIf="peso?.errors?.['required']">
            A peso precisa ser cadastrado !
          </app-mensagem-erro-validacao>

          <app-mensagem-erro-validacao *ngIf="peso?.errors?.['pattern']">
            A peso precisa ser númerico !
          </app-mensagem-erro-validacao>
        </div>
      </div>
    </div>
    <div class="container__preco">
      <div class="container__preco__custo_compra">
        <label class="block" for="custo_compra">CUSTO DE COMPRA:</label>
        <input
          class="input"
          type="text"
          name="custo_compra"
          ngModel
          required
          #custo_compra="ngModel"
          pattern="^\d{1,3}(?:\.\d{3})*(,\d{2})$"
        />
        <div
          *ngIf="
            (custo_compra?.invalid && custo_compra?.touched) ||
            custo_compra?.dirty
          "
        >
          <app-mensagem-erro-validacao
            *ngIf="custo_compra?.errors?.['required']"
          >
            O custo de compra precisa ser cadastrado !
          </app-mensagem-erro-validacao>

          <app-mensagem-erro-validacao
            *ngIf="custo_compra?.errors?.['pattern']"
          >
            O custo de compra precisa ser númerico e seguir o exemplo: 1.525,00
            !
          </app-mensagem-erro-validacao>
        </div>
      </div>
      <div class="container__preco__custo_venda">
        <label class="block" for="custo_venda">CUSTO DE VENDA:</label>
        <input
          class="input"
          type="text"
          name="custo_venda"
          ngModel
          required
          #custo_venda="ngModel"
          pattern="^\d{1,3}(?:\.\d{3})*(,\d{2})?$"
        />
        <div
          *ngIf="
            (custo_venda?.invalid && custo_venda?.touched) || custo_venda?.dirty
          "
        >
          <app-mensagem-erro-validacao
            *ngIf="custo_venda?.errors?.['required']"
          >
            O custo de venda precisa ser cadastrado !
          </app-mensagem-erro-validacao>

          <app-mensagem-erro-validacao *ngIf="custo_venda?.errors?.['pattern']">
            O custo de venda precisa ser númerico e seguir o exemplo: 1.525,00 !
          </app-mensagem-erro-validacao>
        </div>
      </div>
      <div class="container__preco__categoria">
        <label class="block" for="categoria">CATEGORIA:</label>
        <input
          class="input"
          type="text"
          name="categoria"
          ngModel
          required
          #categoria="ngModel"
        />
        <div
          *ngIf="
            (categoria?.invalid && categoria?.touched) || categoria?.dirty
          "
        >
          <app-mensagem-erro-validacao
            *ngIf="categoria?.errors?.['required']"
          >
            O custo de venda precisa ser cadastrado !
          </app-mensagem-erro-validacao>
        </div>
      </div>
    </div>
    <div class="container__descricao">
      <div class="descricao">
        <label class="block" for="descricao">DESCRIÇÃO DO PRODUTO:</label>
        <textarea
          class="textarea"
          name="descricao"
          id="descricao"
          ngModel
          required
          #textarea="ngModel"
          minlength="10"
          maxlength="500"
        ></textarea>
        <div
          *ngIf="(textarea?.invalid && textarea?.touched) || textarea?.dirty"
        >
          <app-mensagem-erro-validacao *ngIf="textarea?.errors?.['required']">
            Deve ser cadastrado uma descrição básica para o produto !
          </app-mensagem-erro-validacao>

          <app-mensagem-erro-validacao
            *ngIf="textarea?.errors?.['minlength'] || textarea?.errors?.['maxlength']"
          >
            A descrição do produto precisa ter um mínimo de 10 e máximo de 500
            caracteres !
          </app-mensagem-erro-validacao>
        </div>
      </div>
    </div>

    <div class="container__botoes">
      <app-botao-principal
        [color]="texto"
        [backgroundColor]="salvar"
        [hoverBackgroundColor]="salvar_hover"
        >SALVAR</app-botao-principal
      >
      <app-botao-principal
        [color]="texto"
        [backgroundColor]="atualizar"
        [hoverBackgroundColor]="atualizar_hover"
        >ATUALIZAR</app-botao-principal
      >
      <app-botao-principal
        [color]="texto"
        [backgroundColor]="excluir"
        [hoverBackgroundColor]="excluir_hover"
        >EXCLUIR</app-botao-principal
      >
    </div>
  </form>
</section>
