@import "../../../style/abstract/media-queries";
@import "../../../style/abstract/mixins";
@import "../../../style/abstract/variaveis";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  h1 {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 2rem;
  }

  form {
    background-color: $cor-prata-claro;
    border-radius: 1rem;
    padding: 1rem;
  }

  input,
  textarea {
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  border: 3px solid $cor-cinza-escuro;
  height: 45px;
  font-size: 1.1rem;
  }

  label {
    display: block;
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 0.3rem;
  }

  &__produto {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;

    &__nome,
    &__fornecedor {
      width: 80%;
    }

    &__cdg_barras,
    &__sku {
      width: 20%;
    }

    &__estoque_minimo,
    &__estoque,
    &__und_medida,
    &__preco_compra,
    &__preco_venda,
    &__categoria {
      width: 33%;
    }

    &__descricao {
      width: 100%;

      textarea {
        height: 150px;
      }
    }

  }

  &__botoes {
    display: flex;
    gap: 2rem;
    margin: 1rem 0;
    align-items: center;
    justify-content: flex-end;
  }
}

.ng-touched.ng-invalid:not(form) {
  border: 3px solid red;
}

input.input::-webkit-inner-spin-button,
input.input::-webkit-outer-spin-button,
textarea.textarea::-webkit-inner-spin-button,
textarea.textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type="number"].input {
  -moz-appearance: textfield;
}
