<section class="container">
  <h1>ADMINISTRAÇÃO</h1>
  <div class="container__botoes">
    <app-botao-principal
      [color]="texto"
      [backgroundColor]="botao_listar"
      [hoverBackgroundColor]="botao_listar_hover"
      (onClick)="navegar('cadastrar-funcionario')"
      >CADASTRAR FUNCIONÁRIO</app-botao-principal
    >
    <app-botao-principal
      [color]="texto"
      [backgroundColor]="botao_listar"
      [hoverBackgroundColor]="botao_listar_hover"
      >GERENCIAR FUNCIONÁRIO</app-botao-principal
    >
    <app-botao-principal
      [color]="texto"
      [backgroundColor]="botao_listar"
      [hoverBackgroundColor]="botao_listar_hover"
      >CRIAR FUNCIONÁRIO</app-botao-principal
    >
  </div>
  <div class="container__form">
    <router-outlet></router-outlet>
  </div>
</section>
