@import "../../../style/abstract/media-queries";
@import "../../../style/abstract/mixins";
@import "../../../style/abstract/variaveis";

.botao {
  border: none;
  padding: 1rem;
  font-size: 1.5rem;
  color: $cor-branco;
  background-color: $cor-azul-meia-noite;
  font-weight: 700;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
