


<footer class="container">
  <div class="container__informacao">
    <h2>INSTITUCIONAL</h2>
    <h4>Política de privacidade</h4>
    <h4>Política de segurança</h4>
    <h4>Quem somos</h4>
  </div>
  <div class="container__informacao">
    <h2>CONTATO</h2>
    <h4>0800 123 456 78</h4>
    <h4>meajuda&#64;estoqueplus.com</h4>
    <h4>ouvidoria&#64;estoqueplus.com</h4>
  </div>
  <footer class="container__informacao">
    <h2>Desenvolvido por Jason</h2>
    <div class="container__informacao__social">
      <img
        src="../../../assets/logo.png"
        alt="logo"
        class="container__informacao__social__logo"
      />
      <a href="//www.facebook.com/" target="_blank">
        <img
          class="container__informacao__social__rede_social"
          src="../../../assets/facebook.svg"
          alt="facebook"
        />
      </a>
      <a href="//www.youtube.com/" target="_blank">
        <img
          class="container__informacao__social__rede_social"
          src="../../../assets/youtube.svg"
          alt="youtube"
        />
      </a>
      <a href="//www.instagram.com/"  target="_blank">
        <img
          class="container__informacao__social__rede_social"
          src="../../../assets/instagram.svg"
          alt="instagram"
        />
      </a>
      <a href=""  target="_blank">
        <img
          class="container__informacao__social__rede_social"
          src="../../../assets/twitter.svg"
          alt="twitter"
        />
      </a>
  </div>
</footer>
