@import "../../../style/abstract/media-queries";
@import "../../../style/abstract/mixins";
@import "../../../style/abstract/variaveis";


.container {
  background-color: $cor-azul-meia-noite;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 7rem;
  display: flex;


  &__informacao {
    gap: 0.7rem;
    flex-direction: column;
    color: $cor-branco;
    display: flex;
    text-align: left;

    h2 {
      font-weight: 900;
      letter-spacing: 0.2rem;
      font-size: 1.4rem;
    }

    h4 {
      font-size: 1.2rem;
    }


    &__social {
      gap: 0.7rem;
      @include centralizar();

      &__logo {
        width: 130px;
      }

      &__rede_social {
        width: 30px;
      }


    }
  }
}
