<section class="">
  <h2 class="">LISTA DE VENDAS</h2>
  <div class="container">
    <table class="container__table">
      <thead class="container__table__head">
        <tr>
          <th class="container__table__head__quantidade">Quantidade</th>
          <th class="container__table__head__descricao">Descrição</th>
          <th class="container__table__head__valor">Valor</th>
        </tr>
      </thead>
      <tbody *ngIf="listaDeProdutos.length > 0" class="container__table__body">
        <tr *ngFor="let produto of listaDeProdutos">
          <td>{{ quantidade }}</td>
          <td>{{ produto.nome }}</td>
          <td>R$ {{ produto.preco.toFixed(2) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
