


<section class="">
  <h2 class="">LISTA DE VENDAS</h2>
  <div class="container">
    <table class="container__table">
      <thead class="container__table__head">
        <tr>
          <th class="container__table__head__quantidade">Quantidade</th>
          <th class="container__table__head__descricao">Descrição</th>
          <th class="container__table__head__valor">Valor</th>
        </tr>
      </thead>
      <tbody class="container__table__body">
        <tr>
          <td>1</td>
          <td>Smart TV</td>
          <td>R$ 150,00</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Geladeira</td>
          <td>R$ 1500,00</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Fogão</td>
          <td>R$ 3020,00</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Fogão</td>
          <td>R$ 3020,00</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Fogão</td>
          <td>R$ 3020,00</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Fogão</td>
          <td>R$ 3020,00</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Fogão</td>
          <td>R$ 3020,00</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Fogão</td>
          <td>R$ 3020,00</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Fogão</td>
          <td>R$ 3020,00</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Fogão</td>
          <td>R$ 3020,00</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
