



<section class="">
  <h2 class="">LISTA DE VENDAS</h2>
  <div class="container">
    <table class="container__table">
      <thead class="container__table__head">
        <tr>
          <th class="container__table__head__quantidade">Quantidade</th>
          <th class="container__table__head__descricao">Descrição</th>
          <th class="container__table__head__valor_und">Valor Unitário</th>
          <th class="container__table__head__valor_total">Valor dos Itens</th>
        </tr>
      </thead>
      <tbody *ngIf="listaDeCompras.length > 0" class="container__table__body">
        <tr *ngFor="let produto of listaDeCompras">
          <td>{{ produto.quantidade }}</td>
          <td>{{ produto.produto.nome }}</td>
          <td>R$ {{ produto.produto.preco.toFixed(2) }}</td>
          <td>R$ {{ produto.valor_total_item.toFixed(2) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
