<section class="container">
  <h1>COMPRAS</h1>
  <div class="container__botoes">
    <app-botao-principal
      [color]="texto"
      [backgroundColor]="botao_listar"
      [hoverBackgroundColor]="botao_listar_hover"
      >CADASTRAR NOTA FISCAL</app-botao-principal
    >
    <a routerLink="/compras/nota-fiscal">
      <app-botao-principal
        [color]="texto"
        [backgroundColor]="botao_listar"
        [hoverBackgroundColor]="botao_listar_hover"

      >
        BUSCAR NOTA FISCAL
      </app-botao-principal>
    </a>
  </div>
  <div class="container__nota">
    <router-outlet></router-outlet>
  </div>
</section>
