@import "../../../../style/abstract/media-queries";
@import "../../../../style/abstract/mixins";
@import "../../../../style/abstract/variaveis";

.container {
  user-select: none; // Impede a seleção de texto

  &__modal {
    position: fixed;
    z-index: 1;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: rgba(101, 101, 101, 0.85);
  }

  &__janela {
    position: fixed;
    z-index: 1;
    padding: 32px;
    width: 60%;
    background: #cacaca;
    box-shadow: 4px 4px 24px -4px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
      font-size: 1.5rem;
      font-weight: 900;
    }

    &__fechar {
      background: $cor-azul-meia-noite;
      position: absolute;
      padding: 0.5rem;
      width: 30px;
      font-weight: 900;
      border: none;
      cursor: pointer;
      color: $cor-branco;
      right: 22px;
      top: 22px;
    }
  }
}

.pagamentos {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* 25% / 50% / 25% */
  gap: 1.5rem;
  flex-direction: row;
  margin-top: 1rem;

  &__grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px solid $cor-azul-meia-noite;
    padding: 0.5rem;
    background-color: $cor-branco;

    h3 {
      text-align: center;
      padding: 1rem;
      background-color: $cor-azul-meia-noite;
      color: $cor-branco;
      border-radius: 8px;
      box-sizing: border-box;
      margin-bottom: 0.5rem;
      font-size: 1.2rem;
    }

    &__campo {
      display: flex;
      flex-direction: column;

      label {
        font-size: 1.1rem;
        font-weight: 400;
      }

      input {
        margin: 0.2rem 0;
        height: 30px;
        font-size: 1rem;
        font-weight: 700;
        text-align: center;
        margin-bottom: 0.5rem;
      }

      li {
        font-weight: 400;
        font-size: 1.1rem;
        margin-bottom: 0.3rem;
        cursor: pointer;

        &.ativo {
          background-color: $cor-azul-meia-noite;
          color: $cor-branco;
          font-weight: bold;
          padding: 0.5rem;
        }
      }

      span {
        background-color: $cor-azul-meia-noite;
        color: $cor-branco;
        font-weight: bold;
        margin-top: 0.5rem;
        padding: 0.3rem;
      }
    }
  }
}

.terceira-coluna {
  margin-top: 1rem;
}

