<section *ngIf="aberta">
  <div class="container">
    <div
      class="container__modal"
      (click)="aoFechar.emit()"
      aria-hidden="true"
    ></div>
    <div class="container__janela">
      <h1>FINALIZAR VENDAS - PAGAMENTOS</h1>
      <button class="container__janela__fechar" (click)="aoFechar.emit()">
        X
      </button>
      <div class="pagamentos">
        <div class="pagamentos__grid">
          <h3>VALORES</h3>
          <div class="pagamentos__grid__campo">
            <label for="valor_total">VALOR TOTAL:</label>
            <input type="text" name="valor_total" id="valor_total" readonly />
          </div>
          <div class="pagamentos__grid__campo">
            <label for="vendas">DESCONTO:</label>
            <input type="text" name="vendas" id="vendas" />
          </div>
          <div class="pagamentos__grid__campo">
            <label for="pagamentos">PAGAMENTO:</label>
            <input type="text" name="pagamentos" id="pagamentos" />
          </div>
          <div class="pagamentos__grid__campo">
            <label for="troco">TROCO:</label>
            <input type="text" name="troco" id="troco" readonly />
          </div>
        </div>
        <div class="pagamentos__grid">
          <h3>FORMAS DE PAGAMENTO</h3>
          <div class="pagamentos__grid__campo">
            <ul>
              <li
                *ngFor="let forma of formasDePagamento"
                (click)="selecionarForma(forma)"
                [ngClass]="{ ativo: formaPagamentoSelecionada === forma }"
              >
                {{ forma }}
              </li>
            </ul>
          </div>
        </div>
        <div class="pagamentos__grid">
          <h3>VALOR DO PAGAMENTO</h3>
          <div class="pagamentos__grid__campo terceira-coluna">
            <label>VALOR TOTAL A PAGAR:</label>
            <input
              type="text"
              name="total_a_pagar"
              id="total_a_pagar"
              readonly
            />
            <label>FORMA DE PAGAMENTO SELECIONADA:</label>
            <span *ngIf="formaPagamentoSelecionada">{{ formaPagamentoSelecionada }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
