@import "../../../../style/abstract/media-queries";
@import "../../../../style/abstract/mixins";
@import "../../../../style/abstract/variaveis";

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;

  label {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.3rem;
  }

  input {
    box-sizing: border-box;
    border: none;
    height: 40px;
    font-size: 1.2rem;
  }

  &__lista {
    position: absolute;
    top: 62px; /* Ajuste para a altura exata abaixo do input */
    width: 100%; /* Ocupa a largura total do container */
    background-color: #fff; /* Adiciona um fundo para destacar a lista */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Opcional: sombra para destacar */
    z-index: 10; /* Garante que a lista fique acima de outros elementos */
    cursor: pointer;

    li {
      padding: 1rem;
    }

    li:hover {
      background-color: aqua;
    }
  }
}
